body {
  font-family: "Raleway", sans-serif;
  color: #fff;
}
.App .card {
  width: 140px;
  box-shadow: 5px 5px 10px lightblue;
  background: transparent;
}
.App .card-picture {
  background-color: #116181;
  width: 65%;
  height: 30%;
  padding: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  border: 1px solid gray;
}
