.ForecastDisplay img {
  width: 55px;
  height: 55px;
}

.ForecastDisplay p {
  font-size: 15px;
  text-align: right;
  padding-right: 7px;
}

.ForecastDisplay .h-divider {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 100%;
  border-top: 1px solid lightslategray;
}
