body {
  font-family: "Raleway", sans-serif;
}
.App .card {
  width: 140px;
  box-shadow: 5px 5px 10px lightblue;
  background: transparent;
}
.App #picture {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  width: 80%;
  height: 80%;
  padding: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  border: 1px solid gray;
}
