.index .card {
  width: 140px;
  box-shadow: 5px 5px 10px lightblue;
  background: transparent;
}
.Info .emoji {
  width: 140px;
  margin-left: 5px;
  display: inline;
}
.Info .Desc {
  margin-right: 5px;
  text-transform: capitalize;
  text-align: left;
  font-size: 17px;
  display: inline;
}
.Info .card-weather {
  border: 2px solid #cfd3ce;
  margin: 20px 30px;
  padding-top: 30px;
  margin-top: 40px;
  width: 18rem;
  border-radius: 10px;
  background: transparent;
  box-shadow: 3px 3px 6px lightblue;
}

.Info .current-time {
  font-size: 14px;
  text-align: left;
  margin-left: 10px;
}
.Info .extraInfo {
  font-size: 13px;
  text-align: left;
  margin-left: 15px;
}

.Info .card-city {
  width: 18rem;
  border: 2px solid #cfd3ce;
  margin: 20px 30px;
  padding-top: 30px;
  margin-top: 40px;
  margin-left: 30px;
  border-radius: 10px;
  background: transparent;
  box-shadow: 3px 3px 6px lightblue;
}
.Info h1 {
  margin-left: 30px;
  text-transform: capitalize;
}
.Info h4 {
  margin-left: 30px;
  text-transform: capitalize;
}
