.Info .emoji {
  width: 150px;
  margin-left: 10px;
}
.Info .Desc {
  margin-left: 15px;
  text-transform: capitalize;
  text-align: left;
  font-size: 17px;
}
.Info .card-main {
  border: 2px solid #cfd3ce;
  margin: 20px 30px;
  padding-top: 30px;
  margin-top: 40px;
  width: 18rem;
  border-radius: 10px;
  background: transparent;
  box-shadow: 7px 7px 12px whitesmoke;
}
.Info .today {
  font-size: 50px;
  text-align: center;
}
.Info .current-time {
  font-size: 17px;
  text-align: left;
  margin-left: 10px;
}
.Info .extraInfo {
  font-size: 13px;
  text-align: left;
  margin-left: 15px;
}
.Info .degrees {
  font-size: 14px;
}

.Info .main .active {
  color: black;
}
.Info .main .active:hover {
  color: #1e78d4;
  text-decoration: none;
}

.Info #city {
  width: 18rem;
  border: 2px solid #cfd3ce;
  margin: 20px 30px;
  padding-top: 30px;
  margin-top: 40px;
  margin-left: 30px;
  border-radius: 10px;
  background: transparent;
  box-shadow: 7px 7px 12px whitesmoke;
}
.Info h1 {
  margin-left: 30px;
}
.Info h4 {
  margin-left: 30px;
}
.Info #name {
  text-transform: capitalize;
}
.Info #country {
  text-transform: capitalize;
}
