.Main #picture {
  background-color: transparent;
  width: 50%;
  height: 50%;
  padding: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  border: 1px solid gray;
}
.Main span {
  margin-left: 30px;
}
.Main .change-city {
  border: 1px solid #cfd3ce;
  border-radius: 50px;
  width: 50%;
  height: 45px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px lightblue;
  background: #fff;
}
.Main button.search {
  padding: 10px;
  border: 1px solid #cfd3ce;
  border-radius: 35px;
  background-color: transparent;
  color: #03506f;
  font-weight: bold;
  box-shadow: 5px 5px 10px lightblue;
  transition: all 300ms ease-in-out;
  display: inline;
}
.Main button.search:hover {
  cursor: pointer;
  background-color: #03506f;
  color: lightblue;
}

.Main form {
  display: inline;
}
.Main .standing {
  color: #03506f;
  font-size: 45px;
  border: 0px;
  background-color: transparent;
  display: inline;
}
.Main .standing:hover {
  cursor: pointer;
  color: #9ad3bc;
}
